
# Temporary files and directories
/tmp/
/out-tsc/
/.run/
../run/
/runner-result/

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package manager files
/.pnp
.pnp.js
.pnp

# VSCode settings
.vscode/
.idea/
../.idea/
*.mp4
appToken/
*.xml
*.jsonl

# Cypress-specific ignores
cypress.env.json
cypress/.DS_Store

# macOS-specific system files
.DS_Store
../.DS_Store
.github/.DS_Store
../.github/.DS_Store
